[package]
name = "token"
version = "0.1.0"
edition = "2021"

[dependencies]
async-graphql = { path = "../../.." }
futures-util = "0.3.0"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
